extends layout
include mixins/crearProyecto

block contenido
  .contenido-principal
    h1(class="contenido-principal-title") #{namePage}

    if errors
      each error in errors
        .alert #{error.texto}
    +crearProyecto(proyecto)
    
