extends layout

block contenido
  .contenido-principal
    h1(class="contenido-principal-title") #{namePage}

    if errors
      each error in errors
        .alert #{error.texto}

    form(class="add-project" action="/nuevo-proyecto" method="POST")
      .add-project-fieldName
        label(for="name") Nombre Proyecto:
        input(type="text" id="project-name" name="name" placeholder="Nombre Proyecto")
      .add-project-sendData
        input(type="submit" value="Agregar" class="btn")
