<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    style
      include ./email.css
  body
    h2 Restablecer Password
    p Hola, has solicitado restablecer tu password, haz click en el siguiente enlace para restablecerlo, este enlace es temporal si tienes algun problema vuelve a solicitar este email
    a(href=`${resetURL}`) Ir
    p Si no puedes accedes a este enlace visita #{resetURL}
    p Si no silicitaste este email puedes ignorarlo